
Legacy/
CreateMLClassifier.playground/playground.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
CreateMLClassifier.playground/playground.xcworkspace/contents.xcworkspacedata
CreateMLClassifier.playground/playground.xcworkspace/xcuserdata/daltonprescott.xcuserdatad/UserInterfaceState.xcuserstate
Gesture.playground/playground.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Gesture.playground/playground.xcworkspace/contents.xcworkspacedata
Gesture.playground/playground.xcworkspace/xcuserdata/daltonprescott.xcuserdatad/UserInterfaceState.xcuserstate
